        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            border: 2px solid green;
        }
        
        .container {
            max-width: 1146px;
            margin: 0px 147px;
            border: 1px solid red;
        }
        
        header {
            padding-top: 53px;
            padding-bottom: 60px;
            align-items: center;
        }
        
        .flex-wrapper {
            background-color: white;
            display: flex;
            /* flex-direction: row;
    */
            justify-content: space-between;
            align-items: center;
        }
        
        nav {}
        
        nav ul {
            display: flex;
            list-style: none;
        }
        
        li a {
            list-style: none;
            margin-left: 40px;
            color: #0F044C;
            color: #080800;
            text-decoration: none;
            font: 800 14px 'M PLUS 1p', sans-serif;
            line-height: 30px;
            letter-spacing: 2px;
            vertical-align: bottom;
        }
        /*Анна, не сработали свойства для li*; они же не работают для навигации*/
        
        li:first-child {
            margin-left: 0;
        }
        
        .flex-wrapper .logo {
            background: url(./images/logo-my-freedom.svg) no-repeat left center;
            width: 196px;
            height: 38px;
        }
        
        .mobile-menu-button {
            width: 50px;
            height: 50px;
            display: none;
        }
        
        .mobile-calling-button {
            width: 30px;
            height: 30px;
            display: none;
        }
        
        .phone {
            /*вставить логотип background-oм*/
            background-image: url(./images/telefon.png);
            background-repeat: no-repeat;
            padding: 6px 0px 6px 33px;
            height: 31px;
            width: 200px;
            /*border: 2px solid red;*/
            font: 800 13px 'M PLUS 1p', sans-serif;
            text-decoration: none;
            letter-spacing: 1.5px;
            color: #0F044C;
            text-align: left;
        }
        
        main .background-1 {
            background-image: url(./images/background.png);
            height: 378px;
            background-size: cover;
        }
        
        main .background-1 .container {
            height: 1050px;
        }
        
        h1 {
            padding-top: 126px;
            color: white;
            font: 500 54px 'M PLUS 1p', sans-serif;
        }
        
        p {
            color: white;
            padding-top: 22px;
            font: 800 18px 'M PLUS 1p', sans-serif;
            letter-spacing: 2px;
            line-height: 25px;
        }
        
        h3 {
            padding-top: 40px;
            font: 800 15px 'M PLUS 1p', sans-serif;
            color: #A22F32;
            text-transform: uppercase;
        }
        
        .for-remembering {
            max-width: 870px;
        }
        
        .for-remembering p {
            color: black;
            width: 100%;
            letter-spacing: 1px;
            font: 600 23px 'M PLUS 1p', sans-serif;
            padding-top: 12px;
            line-height: 40px;
            padding-bottom: 55px;
        }
        
        .java-script-elements {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            /*width: 362px;
                    height: 395px;
                    margin: auto;*/
            /*Не писать, т.к. он по умолчанию задан!*/
        }
        
        .html,
        .css,
        .bootstrap {
            align-items: stretch;
            border: 1px solid red;
            width: 362px;
            /*"резиновая" ширина;он не может быть больше, но меньше текст может быть*/
            padding: 30px;
            margin-bottom: 57px;
        }
        
        h2 {
            margin: 33px 0 13px;
            font: 500 27px 'M PLUS 1p', sans-serif;
        }
        
        .html p,
        .css p,
        .bootstrap p {
            color: black;
            font: 400 16px 'M PLUS 1p', sans-serif;
            letter-spacing: 1px;
            line-height: 26px;
            color: #30233D;
        }
        
        footer .background-2 {
            background-color: black;
        }
        
        .background-2 .container {
            height: 198px;
        }
        
        .footer-content {
            display: flex;
            justify-content: space-between;
        }
        
        .logo-mf {
            width: 111px;
            height: 42px;
            padding: 84px 0px 72px;
        }
        
        .footer-content p {
            padding: 112px 0px 66px;
            font: 400 12px 'M PLUS 1p', sans-serif;
            line-height: 19px;
        }
        
        .footer-content .logos {
            padding: 92px 0px 66px;
        }
        
        .instagram .vkontakte {
            padding-left: 25px;
        }
        
        @media ( max-width: 1146px) {
            .container {
                max-width: 95%;
            }
        }
        /*под плашеты*/
        
        @media ( max-width: 992px) {
            .java-script-elements>div {
                max-width: 48%;
                margin-bottom: 20px;
            }
            .for-remembering {
                max-width: 830px;
            }
            .mobile-menu-button {
                display: inline-block;
                margin-left: -89px;
            }
            nav {
                display: none;
                position: absolute;
                top: 100px;
                right: 20px;
            }
            nav li {
                display: block;
                padding: 5px;
                background-color: green;
            }
        }
        /*под мобильные*/
        
        @media ( max-width: 650px) {
            nav ul li a {
                margin-left: 10px;
            }
            .java-script-elements>div {
                max-width: 100%;
            }
            .for-remembering {
                max-width: 487px;
            }
            .mobile-menu-button {
                display: block;
            }
            header nav {
                display: none;
                position: absolute;
                top: 100px;
                right: 20px;
            }
            li a {
                display: block;
                padding: 5px;
                background-color: green;
            }
            .mobile-calling-button {
                display: block;
                margin-right: 90px;
            }
            header .phone {
                display: none;
                position: absolute;
                top: 100px;
                right: 20px;
            }
        }